fastapi
uvicorn[standard]
jinja2

sqlalchemy
psycopg2-binary
pgvector

passlib[bcrypt]
bcrypt==4.0.1
python-multipart

pandas
openpyxl
numpy

joblib
sentence-transformers

python-dotenv

torch
transformers
